<!-- Import the component -->



<!-- Use it like any other HTML element -->

<div id="leftHalf">


  <div class="grid2x2">
    <div class="box box2">
  
  
    <div class="row">
      <div class="column" >
        <img src="../assets/images/pressure.png" alt="Pressure" style="width:75%">
      </div>
      <div class="column" style="margin-left: 2rem;width: 9rem;margin-top: 0rem;">
        <h3 style=" font-family: 'Open Sans', sans-serif;">Tire Pressure</h3>
        <span class="values" style="margin-left: -1rem;">{{tireData}}|{{tireData2}}&nbsp;psi</span>
        <!-- <div class="vl"></div> -->
      </div>
    </div>
  
  </div>
  
  <div class="box box3">
  
  
    <div class="row">
      <div class="column" >
        <img src="../assets/images/suspension.png" alt="Suspension" style="width:75%">
      </div>
      <div class="column" style="margin-left: 2rem;margin-top: 0rem;">
        <h3 style=" font-family: 'Open Sans', sans-serif;margin-left: -10px;">Suspension</h3>
        <span class="values" style="margin-left: -2rem;">{{susData}}|{{susData2}}&nbsp;pa</span>
      </div>
    </div>
  
  </div>
  
  <div class="box box4">
  
  
    <div class="row">
      <div class="column">
        <img src="../assets/images/fuel.png" alt="Fuel" style="width:75%">
      </div>
      <div class="column" style="margin-left: 2rem;margin-top: 0rem;">
        <h3 style=" font-family: 'Open Sans', sans-serif;">Fuel Level</h3>
        <span class="values" style="margin-left: -10px;">{{fuelData}}&nbsp;ltrs</span>
      </div>
    </div>
  
  </div>
  
  <div class="box box2" >
  
  
    <div class="row">
      <div class="column" >
        <img src="../assets/images/batterry.png" alt="Battery" style="width:75%">
      </div>
      <div class="column" style="margin-left: 2rem;margin-top: 0rem;width: 8rem;">
        <h3 style=" font-family: 'Open Sans', sans-serif;">Battery Level</h3>
        <span class="values" style="margin-left: 10px;">{{battData}}&nbsp;%</span>
      </div>
    </div>
  
  </div>
  
  <div class="box box3">
  
  
    <div class="row">
      <div class="column" >
        <img src="../assets/images/co2 (1).png" alt="Emission" style="width:75%;margin-left: 10px;">
      </div>
      <div class="column" style="margin-left: 2rem;width: 10rem;margin-top: 0rem;">
        <h3 style=" font-family: 'Open Sans', sans-serif;">Emission Level</h3>
        <span class="values">{{emiData}}&nbsp;mV</span>
      </div>
    </div>
  
  </div>
  
  <div class="box box4">
  
  
    <div class="row">
      <div class="column">
        <img src="../assets/images/speed.png" alt="Suspension" style="width:75%">
      </div>
      <div class="column" style="margin-left: 3rem;margin-top: 0rem;">
        <h3 style=" font-family: 'Open Sans', sans-serif;">Speed</h3>
        <span class="values" style="margin-left: -2rem;">{{speedData}}&nbsp;km/h</span>
      </div>
    </div>
  
  </div>


    <!-- <button class="button" style="margin-left: 16rem;" (click)="connect()" mat-raised-button color = "primary">Analyze</button>

    <button class="button" style="margin-left: 23rem;
    margin-top: -47px;" (click)="connect1()" mat-raised-button color = "primary">Anomaly Detection</button> -->

  


    
  </div>
  
  <div   class="three-inline-buttons">
    <p>
      <button class="button" (click)="connect()" mat-raised-button color = "primary">Analyze</button>
      <button class="button" (click)="connect1()" mat-raised-button color = "primary">Anomaly Detection</button>

    </p>
    </div>
 
  </div>
  
  <div id="rightHalf" style="  width: 50%;
position: absolute;
right: 5px;
height: 100%;
background:black;    
height: calc(100% - 40px);
    margin-top: 19px;
    box-shadow: 0px 3px 5px #27272780;">
<div class="sketchfab-embed-wrapper">
  <iframe style="background-color:lightgray ;width: 100%; height: 684px;" title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/33a84567423749cc8889ded3c93c49d0/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
 
</div>

</div>
  